<div>
  <h1> My First Angular Demo Project....!</h1>
</div>
<hr>
<div>
  <input type="button" value="click me" style="width: 100px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  border: 3px solid darkblue;">
</div>
<hr>
<div>
  <input type=" button" value="click me 1" class="MyButtonCss">
  <input type=" button" value="click me 2" class="MyButtonCss">
  <input type=" button" value="click me 3" class="MyButtonCss">
</div>
<hr>
<div>
  <input type=" button" value="click me 1" class="btn btn-primary">
  <input type=" button" value="click me 2" class="btn btn-danger">
  <input type=" button" value="click me 3"class="btn btn-warning">
  <input type=" button" value="click me 4"class="btn btn-info">
  <input type=" button" value="click me 5"class="btn btn-sucess">
</div>
<hr>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2"> Enter ayour Name  :</div>
  <div class="col-sm-2"><input type="text" class="form-control" /></div>
  <div class="col-sm-4"></div>

</div>
<hr>
<div>
  <input type=" button" value="click me 1" class="btn btn-primary">
  <input type=" button" value="click me 2" class="btn btn-danger">
  <input type=" button" value="click me 3"class="btn btn-warning">
  <input type=" button" value="click me 4"class="btn btn-info">
  <input type=" button" value="click me 5"class="btn btn-sucess">
</div>
<hr>
<div>
  <input type=" button" value="click me 1" class="MyButtonCss">
  <input type=" button" value="click me 2" class="MyButtonCss">
  <input type=" button" value="click me 3" class="MyButtonCss">
</div>
<hr>
<div>
  <input type=" button" value="click me 1" class="btn btn-primary">
  <input type=" button" value="click me 2" class="btn btn-danger">
  <input type=" button" value="click me 3"class="btn btn-warning">
  <input type=" button" value="click me 4"class="btn btn-info">
  <input type=" button" value="click me 5"class="btn btn-sucess">
</div>
<hr>
<div>
  <input type=" button" value="click me 1" class="MyButtonCss">
  <input type=" button" value="click me 2" class="MyButtonCss">
  <input type=" button" value="click me 3" class="MyButtonCss">
</div>
<div>
  <h1> My First Angular Demo Project....!</h1>
</div>
<hr>
<div>
  <input type="button" value="click me" style="width: 100px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  border: 3px solid darkblue;">
</div>
<hr>
<div>
  <input type="button" value=" New click me" style="width: 200px;
  height: 30px;
  border-radius: 5px;
  color: red;
  background-color:yellow;
  border: 3px solid black;">
</div>
